@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fetch doc by DOCID</title>
</head>
<body>
    @using (Html.BeginForm("docid",
                            "Home",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="doc" placeholder="Doc ID" /><br />
        <input type="submit" value="Go" />
        <br><br>
        @ViewBag.Message
    }
</body>
</html>
