@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOBILE HELIX</h1>
    <p class="lead">Worksite Integration Demo</p>
    <p><a href="http://www.mobilehelix.com/products" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Open NRL</h2>
        <p>
            Have NRL? Mobile Helix can convert the document to PDF and render it in a web browser.
        </p>
        <p>
            <div class="btn btn-default"> @Html.ActionLink( "Learn More", "nrl", "Home") </div>
        </p>
            
    </div>
    <div class="col-md-4">
        <h2>Open Document by id</h2>
        <p>
            Got a docid? Give it to us. We will get the doc in WorkSite and convert it to PDF for you.    
        </p>
        <p>
            <div class="btn btn-default"> @Html.ActionLink("Learn More", "docid", "Home") </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>What's in your FileSite?</h2>
        <p>Got a user id? You can get a complete listing of what's in your FileSite.</p>
        <p>
            <div class="btn btn-default"> @Html.ActionLink("Learn More", "getListings", "Home") </div>
        </p>
    </div>
</div>