@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mobile Helix Initialization Page</title>
</head>
<body>
    <h2>Upload your User Client Certificate File please</h2>
    @using (Html.BeginForm("init",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload client certificate file:</label>
        <input type="file" name="file" id="file" /><br><br>
        <input type="password" name="certpassword" placeholder="Certificate Store Password" /><br />
        <input type="text" name="h" placeholder="Host" /><br />
        <input type="text" name="port" placeholder="Port" /><br />
        <input type="text" name="user" placeholder="Username" /><br />
        <input type="password" name="pass" placeholder="Password" /><br />

        <input type="submit" value="Go" />
        <br><br>
        @ViewBag.Message
    }
</body>
</html>
