
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>What's in your WorkSite?</title>
</head>
<body>

    @Html

</body>
</html>
